@page "/systemowner-driver-store"
@using WiiTrakClient.Cores
@using WiiTrakClient.Features.SystemOwner.Components

<UserAuthentication/>
<div class="my-8">
    <MudGrid class="my-8">
    <MudItem xs="12" sm="6" md="4">
        <MudSelect T="DriverDto" Label="Select Driver" ValueChanged="(value) => HandleDriverSelected(value)"
            AnchorOrigin="Origin.BottomCenter">
            @foreach (var driver in Drivers)
            {
                <MudSelectItem T="DriverDto" Value="@driver">@driver.FirstName @driver.LastName</MudSelectItem>
            }
        </MudSelect>
    </MudItem>
</MudGrid>
</div>
@if (driverstore.Count>0)
{
    <DriverStoreList driverstore ="driverstore"/>
}

@code {

    public List<DriverDto> Drivers { get; set; }=new();

    public List<DriverStoreDetailsDto> driverstore { get; set; } = new();
    public DriverDto _selectedDriver = new();

    [Inject]
    public IDriverStoresHttpRepository DriverStoreRepository { get; set; }

    [Inject]
    public IDriverHttpRepository DriverRepository { get; set; }
   
    protected override async Task OnInitializedAsync()
    {
        Drivers = await DriverRepository.GetDriversBySystemOwnerIdAsync(CurrentUser.UserId);
    } 
    private async Task HandleDriverSelected(DriverDto Driver)
    {
        driverstore = await DriverStoreRepository.GetDriverStoresBySystemownerIdAsync(CurrentUser.UserId,Driver.Id); 
        Core.SelectedDriverId = Driver.Id;
    }
}
