@page "/technicians"

@using WiiTrakClient.Features.SystemOwner.Components

@inject IJSRuntime JsRuntime
@inject ITechnicianHttpRepository TechnicianRepository
@inject IDialogService DialogService

<UserAuthentication/>
<h1>Technicians</h1>

<div class="d-flex justify-end">
    <MudButton Variant="Variant.Filled" 
        StartIcon="@Icons.Material.Filled.Add" 
        IconColor="Color.Secondary" 
        Size="Size.Large"
        OnClick="OpenDialog">Add</MudButton>
</div>

<div class="my-8">
    <TechnicianList Technicians="@_technicians" />
</div>



@code {
    List<TechnicianDto> _technicians = new ();
    
    TechnicianCreationDto _newTechnician = new();

    protected override async Task OnInitializedAsync()
    {
        _technicians = await TechnicianRepository.GetAllTechniciansAsync();     
    }  

    private async Task OpenDialog() 
    {
        var parameters = new DialogParameters(); 
        parameters.Add("NewTechnician", _newTechnician);

         DialogOptions options = new DialogOptions() { MaxWidth = MaxWidth.Large }; 

         var dialog  = DialogService.Show<AddTechnicianDialog>("Add Technician", parameters);
        var result = await dialog.Result; 

        if (!result.Cancelled) 
        {
            // add new technician to backend
            var technicianCreation = new TechnicianCreationDto {
                FirstName = _newTechnician.FirstName,
                LastName = _newTechnician.LastName,
                Email = _newTechnician.Email,
                Phone = _newTechnician.Phone,
              
            };
           await TechnicianRepository.CreateTechnicianAsync(_newTechnician);
           _technicians = await TechnicianRepository.GetAllTechniciansAsync();    
        }  
    } 
}