@page "/tracking-devices"

@using WiiTrakClient.Cores
@using WiiTrakClient.Features.SystemOwner.Components

@inject IJSRuntime JsRuntime
@inject ITrackingDeviceHttpRepository TrackingDeviceRepository
@inject IDialogService DialogService

<UserAuthentication/>
<h1>Tracking Devices</h1>

@*<div class="d-flex justify-end">
    <MudButton Variant="Variant.Filled" 
        StartIcon="@Icons.Material.Filled.Add" 
        IconColor="Color.Secondary" 
        Size="Size.Large"
        OnClick="OpenDialog">Add</MudButton>
</div>*@

<div class="my-8">
    <TrackingDeviceList Devices="@_devices" />
</div>



@code {
    List<TrackingDeviceDto> _devices = new ();
    private IJSObjectReference JsModule;
    TrackingDeviceCreationDto _newTrackingDevice = new();

    protected override async Task OnInitializedAsync()
    {
        if (CurrentUser.UserId == Guid.Empty)
        {
            JsModule = await JsRuntime.InvokeAsync<IJSObjectReference>("import", "./js/localstorage.js");
            var Id = await JsModule.InvokeAsync<string>("getUserId");
            CurrentUser.UserId = new Guid(Id);
            CurrentUser.UserName = await JsModule.InvokeAsync<string>("getUserName");

        }
        _devices = await TrackingDeviceRepository.GetAllTrackingDevicesAsync();
        StateHasChanged();
    }  

    private async Task OpenDialog() 
    {
        var parameters = new DialogParameters(); 
        parameters.Add("NewTrackingDevice", _newTrackingDevice);

         DialogOptions options = new DialogOptions() { MaxWidth = MaxWidth.Large }; 

         var dialog  = DialogService.Show<AddTrackingDeviceDialog>("Add Tracking Device", parameters);
        var result = await dialog.Result; 

        if (!result.Cancelled) 
        {
            // add new tracking device to backend
            var trackingDeviceCreation = new TrackingDeviceCreationDto {
                Name = _newTrackingDevice.Name,
                Manufactor = _newTrackingDevice.Manufactor,
                TelecomCompanyName = _newTrackingDevice.TelecomCompanyName,
                SIMCardId = _newTrackingDevice.SIMCardId,
                SIMCardPhoneNumber = _newTrackingDevice.SIMCardPhoneNumber,
                IMEINumber = _newTrackingDevice.IMEINumber,
                ModelNumber = _newTrackingDevice.ModelNumber,
                ManufacturedDate = _newTrackingDevice.ManufacturedDate,
                InstalledDate = _newTrackingDevice.InstalledDate
            };
           await TrackingDeviceRepository.CreateTrackingDeviceAsync(_newTrackingDevice);
        }  
    } 
}