@namespace WiiTrakClient.Features.Stores.Components
<MudDialog>
    <DialogContent>
        <div style="width: 350px;height:450px;overflow: auto;">
            <div class="mb-6">
                <img src="@Cart.PicUrl" class="center" width="100px" height="100px" />
            </div>

            @if(_cartHasGeolocation) {
                  <div id="cartMap" style="position:relative;width:100%;min-width:290px;height:400px;"></div>
            }else {
                <MudText Typo="Typo.h4">No tracking data found.</MudText>
            }
        </div>

    </DialogContent>
    <DialogActions>
        <MudButton OnClick="Cancel">Close</MudButton>
    </DialogActions>
</MudDialog>
