@page "/store-delivery-tickets"

@using WiiTrakClient.Features.Stores.Components

<UserAuthentication/>

<h3>Delivery Tickets</h3>
@if (_deliveryTickets.Count > 0)
{
    <DeliveryTicketsList DeliveryTickets="_deliveryTickets" />
}
else
{
    <MudProgressLinear Color="Color.Info" Indeterminate="true" Class="my-7"/>
}
@code {

}
