@namespace WiiTrakClient.Features.ServiceProviders.Components

<MudDialog>
    <DialogContent>              
        <div style="width: 400px;height:450px;overflow: auto;">
            <MudForm Model="@Store">   
                <MudTextField class="my-6" @bind-Value="Store.StoreName" Label="Store Name" Variant="Variant.Text"></MudTextField>  
                <MudTextField class="my-6" @bind-Value="Store.StoreNumber" Label="Store Number" Variant="Variant.Text"></MudTextField>  
                <MudTextField class="my-6" @bind-Value="Store.Email" Label="Email" Variant="Variant.Text"></MudTextField>  
                <MudTextField class="my-6" @bind-Value="Store.PhonePrimary" Label="Phone Primary" Variant="Variant.Text"></MudTextField>  
                <MudTextField class="my-6" @bind-Value="Store.PhoneSecondary" Label="Phone Secondary" Variant="Variant.Text"></MudTextField>  
                <MudTextField class="my-6" @bind-Value="Store.StreetAddress1" Label="Street Address 1" Variant="Variant.Text"></MudTextField>  
                <MudTextField class="my-6" @bind-Value="Store.StreetAddress2" Label="Street Address 2" Variant="Variant.Text"></MudTextField>  
                <MudTextField class="my-6" @bind-Value="Store.City" Label="City" Variant="Variant.Text"></MudTextField>  
                <MudTextField class="my-6" @bind-Value="Store.State" Label="State" Variant="Variant.Text"></MudTextField>  
                <MudTextField class="my-6" @bind-Value="Store.PostalCode" Label="Zip Code" Variant="Variant.Text"></MudTextField>  
            </MudForm>
        </div>
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="Cancel">Cancel</MudButton>
        <MudButton Color="Color.Primary" OnClick="Submit">Save</MudButton>
    </DialogActions>
</MudDialog>


@code {
    [Parameter]
    public StoreDto? Store {get; set;}
    [CascadingParameter] MudDialogInstance MudDialog { get; set; }

    protected override void OnParametersSet() {
            
    }

    void Submit() 
    { 
        MudDialog.Close(DialogResult.Ok(true)); 
    }
    void Cancel() => MudDialog.Cancel();
}