<MudDialog>
    <DialogContent>              
        <div style="width: 400px;height:450px;overflow: auto;">
            <MudForm Model="@TrackingDevice">   
                <MudTextField class="my-6" @bind-Value="TrackingDevice.Name" Label="Name" Variant="Variant.Text"></MudTextField>
                <MudTextField class="my-6" @bind-Value="TrackingDevice.Manufactor" Label="Manufactor" Variant="Variant.Text"></MudTextField>
                <MudTextField class="my-6" @bind-Value="TrackingDevice.TelecomCompanyName" Label="Telecom Company Name" Variant="Variant.Text"></MudTextField>
                <MudTextField class="my-6" @bind-Value="TrackingDevice.SIMCardId" Label="SIM Card Id" Variant="Variant.Text"></MudTextField>
                <MudTextField class="my-6" @bind-Value="TrackingDevice.SIMCardPhoneNumber" Label="SIM Card Phone Number" Variant="Variant.Text"></MudTextField>
                <MudTextField class="my-6" @bind-Value="TrackingDevice.IMEINumber" Label="IMEI Number" Variant="Variant.Text"></MudTextField>
                <MudTextField class="my-6" @bind-Value="TrackingDevice.ModelNumber" Label="Model Number" Variant="Variant.Text"></MudTextField>
                <div class="d-flex justify-space-between py-2 px-1 mt-6">
                    <MudDatePicker Class="mr-6" Label="Manufactured Date" Editable="true" @bind-Date="TrackingDevice.ManufacturedDate" Placeholder="Select Date" />
                    <MudDatePicker Class="mr-6" Label="Installed Date" Editable="true" @bind-Date="TrackingDevice.InstalledDate" Placeholder="Select Date" />
                </div>
            </MudForm>
        </div>
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="Cancel">Cancel</MudButton>
        <MudButton Color="Color.Primary" OnClick="Submit">Save</MudButton>
    </DialogActions>
</MudDialog>


@code {
    [Parameter]
    public TrackingDeviceDto? TrackingDevice {get; set;}
    [CascadingParameter] MudDialogInstance MudDialog { get; set; }

    protected override void OnParametersSet() {
            
    }

    void Submit() 
    { 
        MudDialog.Close(DialogResult.Ok(true)); 
    }
    void Cancel() => MudDialog.Cancel();
}