@page "/company-delivery-tickets"

@using WiiTrakClient.Features.Companies.Components

<UserAuthentication/>

<div class="pagetitle my-8">
<h3>Delivery Tickets</h3>
</div>

@if(deliveryTickets == null)
{
    <MudText Class="my-4" Typo="Typo.h6">No data found.</MudText>

}
else if (_deliveryTickets.Count > 0)
{
    <DeliveryTicketsList DeliveryTickets="_deliveryTickets" />
}
else
{
    <MudProgressLinear Color="Color.Info" Indeterminate="true" Class="my-7"/>
}


@code {

}
