@page "/drivers"

@using WiiTrakClient.Features.Companies.Components
@using WiiTrakClient.Cores

@inject IJSRuntime JsRuntime
@inject ICompanyHttpRepository CompanyHttpRepository
@inject IDialogService DialogService

@inject IDriverHttpRepository DriverHttpRepository
@inject IEmailHttpRepository EmailHttpRepository

<UserAuthentication />
<h1>Drivers</h1>

<div class="d-flex justify-end">
    <MudButton Variant="Variant.Filled"
               StartIcon="@Icons.Material.Filled.Add"
               IconColor="Color.Secondary"
               Size="Size.Large"
               OnClick="OpenDialog">Add</MudButton>
</div>

<div class="my-8">
    @*    @if (LoaderVisibility)
        {
        <MudProgressLinear Color="Color.Info" Indeterminate="true" Class="my-7" />
        }
        else
        {
        if (_drivers.Count > 0)
        {
        <DriverList Drivers="@_drivers" />
        }
        else
        {
        <MudText Class="my-4" Typo="Typo.h6">No data found.</MudText>
        }*@
    @if (DriversList == null)
    {
        <MudText Class="my-4" Typo="Typo.h6">No data found.</MudText>
    }
    else if (drivers.Count > 0)
    {
        <DriverList Drivers="@drivers" />
    }
    else
    {
        <MudProgressLinear Color="Color.Info" Indeterminate="true" Class="my-7" />
    }
</div>



@code {
    List<DriverDto> drivers = new();
    List<DriverDto> DriversList = new();

    DriverDto AddDriver = new();
    private IJSObjectReference JsModule;
    bool LoaderVisibility { get; set; } = false;

    protected override async Task OnInitializedAsync()
    {
        if (CurrentUser.UserId == Guid.Empty)
        {
            JsModule = await JsRuntime.InvokeAsync<IJSObjectReference>("import", "./js/localstorage.js");
            var Id = await JsModule.InvokeAsync<string>("getUserId");
            CurrentUser.UserId = new Guid(Id);
        }

        DriversList = await DriverHttpRepository.GetDriversByCompanyIdAsync(CurrentUser.UserId);
        if (DriversList is not null)
        {
            drivers = DriversList;
        }
        StateHasChanged();
    }

    private async Task OpenDialog()
    {
        var parameters = new DialogParameters();
        AddDriver = new DriverDto();
        parameters.Add("NewDriver", AddDriver);

        DialogOptions options = new DialogOptions() { MaxWidth = MaxWidth.Large };

        var dialog = DialogService.Show<AddDriverDialog>("Add Driver", parameters);
        var result = await dialog.Result;

        if (!result.Cancelled)
        {
            // add new driver to backend
            var driverCreation = new DriverDto
                {
                    FirstName = AddDriver.FirstName,
                    LastName = AddDriver.LastName,
                    Email = AddDriver.Email,
                    Phone = AddDriver.Phone,
                    StreetAddress1 = AddDriver.StreetAddress1,
                    StreetAddress2 = AddDriver.StreetAddress2,
                    City = AddDriver.City,
                    State = AddDriver.State,
                    CountryCode = AddDriver.CountryCode,
                    PostalCode = AddDriver.PostalCode,
                    CompanyId = CurrentUser.UserId,
                    IsActive = true,
                    IsSuspended = false
                };
            try
            {
                await DriverHttpRepository.CreateDriverAsync(driverCreation);
            }
             catch (Exception ex)
            {
                //Exception
            }
        drivers = await DriverHttpRepository.GetDriversByCompanyIdAsync(CurrentUser.UserId);

            #region Send Login details to User
            MailRequest request = new MailRequest();
            request.MailTo = driverCreation.Email;
            request.Name = string.Concat(driverCreation.FirstName, " ", driverCreation.LastName);
            await EmailHttpRepository.SendMailAsync(request);
            #endregion
        }
    }
}