@page "/corporate-creation"

@using WiiTrakClient.Shared.CorporateCreation.Components
@using WiiTrakClient.Cores

@inject IJSRuntime JsRuntime
@inject ICorporateHttpRepository CorporateRepository
@inject IDialogService DialogService

<UserAuthentication/>

<h1>Corporates</h1> 

<div class="d-flex justify-end">
    <MudButton Variant="Variant.Filled"
               StartIcon="@Icons.Material.Filled.Add"
               IconColor="Color.Secondary"
               Size="Size.Large"
               OnClick="OpenDialog">Add</MudButton>
</div>

<div class="my-8">

    @if (CorporatesList == null)
    {
        <MudText Class="my-4" Typo="Typo.h6">No data found.</MudText>
    }
    else if (corporate.Count > 0)
    {
        <CorporateList corporates="@corporate" />
    }
    else
    {
        <MudProgressLinear Color="Color.Info" Indeterminate="true" Class="my-7" />
    }

</div>

@code {

    List<CorporateDto> corporate = new();
    List<CorporateDto> CorporatesList = new();
    CorporateDto AddCorporate = new();
    private IJSObjectReference JsModule;
    protected override async Task OnInitializedAsync()
    {
        if (CurrentUser.UserId == Guid.Empty)
        {
            JsModule = await JsRuntime.InvokeAsync<IJSObjectReference>("import", "./js/localstorage.js");
            var Id = await JsModule.InvokeAsync<string>("getUserId");
            CurrentUser.UserId = new Guid(Id);
        }
        await RefreshCorporateGrid();
    }
    private async Task OpenDialog()
    {
        try
        {
            var parameters = new DialogParameters();
            AddCorporate = new CorporateDto();
            parameters.Add("NewCorporate", AddCorporate);

            DialogOptions options = new DialogOptions() { MaxWidth = MaxWidth.Large };

            var dialog = DialogService.Show<AddCorporateDialog>("Add Corporate", parameters);
            var result = await dialog.Result;

            if (!result.Cancelled)
            {
                // add new customer to backend
                var CustomerCreation = new CorporateDto();
                if(CurrentUser.UserRoleId==1)
                {
                    CustomerCreation=new CorporateDto 
                   {
                        Name = AddCorporate.Name,
                        StreetAddress1 = AddCorporate.StreetAddress1,
                        StreetAddress2 = AddCorporate.StreetAddress2,
                        City = AddCorporate.City,
                        State = AddCorporate.State,
                        PostalCode = AddCorporate.PostalCode,
                        ProfilePicUrl = AddCorporate.ProfilePicUrl,
                        Email = AddCorporate.Email,
                        PhonePrimary = AddCorporate.PhonePrimary,
                        PhoneSecondary = AddCorporate.PhoneSecondary,
                        SystemOwnerId = CurrentUser.UserId,  
                   };
                }
                else if(CurrentUser.UserRoleId==3||CurrentUser.UserRoleId==4)
                {
                    CustomerCreation = new CorporateDto
                    {
                        Name = AddCorporate.Name,
                        StreetAddress1 = AddCorporate.StreetAddress1,
                        StreetAddress2 = AddCorporate.StreetAddress2,
                        City = AddCorporate.City,
                        State = AddCorporate.State,
                        PostalCode = AddCorporate.PostalCode,
                        ProfilePicUrl = AddCorporate.ProfilePicUrl,
                        Email = AddCorporate.Email,
                        PhonePrimary = AddCorporate.PhonePrimary,
                        PhoneSecondary = AddCorporate.PhoneSecondary,
                        CompanyId = CurrentUser.UserId,
                    };
                }
                await CorporateRepository.CreateCorporateAsync(CurrentUser.UserId,CurrentUser.UserRoleId, CustomerCreation);
            }
            await RefreshCorporateGrid();
        }
        catch  (Exception ex)
        {
            //Exception
        }
    }
    private async Task RefreshCorporateGrid()
    {
        if(CurrentUser.UserRoleId==1)
        {
            CorporatesList = await CorporateRepository.GetAllCorporatesAsync();
        }
        else if(CurrentUser.UserRoleId==3||CurrentUser.UserRoleId==4)
        {
            CorporatesList = await CorporateRepository.GetCorporatesByCompanyId(CurrentUser.UserId);
        }
        if (CorporatesList is not null)
        {
            corporate = CorporatesList;
        }
        StateHasChanged();
    }

}
