@page "/driver-delivery-tickets"

@using WiiTrakClient.Features.Drivers.Components


@*<MudGrid class="my-8"> 
    <MudItem xs="12" sm="6" md="4">
        <MudSelect T="DriverDto" Label="Select Driver" ValueChanged="(value) => HandleDriverSelected(value)"
            AnchorOrigin="Origin.BottomCenter">
            @foreach (var driver in _drivers)
            {
                <MudSelectItem T="DriverDto" Value="@driver">@driver.FirstName @driver.LastName</MudSelectItem>
            }
        </MudSelect>
    </MudItem>
</MudGrid>*@
<style>
.mud-main-content {
    padding-top: 70px;
}
</style>

<div class="pagetitle my-8">
<h3>Delivery Tickets</h3>

<div>
   <MudButton Variant="Variant.Filled" 
        StartIcon="@Icons.Material.Filled.Add"  
        IconColor="Color.Secondary" 
        Size="Size.Large"
        OnClick="OpenDialog">Add</MudButton> 
</div>
</div>


<DeliveryTicketsList DeliveryTickets="_deliveryTickets" />

@code {

}
