@page "/driver-delivery-tickets"

@using WiiTrakClient.Features.Drivers.Components
@using WiiTrakClient.Shared

<UserAuthentication/>
<style>
.mud-main-content {
    padding-top: 70px;
}
</style>

<div class="pagetitle my-8">
<h3>Delivery Tickets</h3>

<div>
   <MudButton Variant="Variant.Filled" 
        StartIcon="@Icons.Material.Filled.Add"  
        IconColor="Color.Secondary" 
        Size="Size.Large"
        OnClick="OpenDialog">Add</MudButton> 
</div>
</div>
@if(deliveryTickets == null)
{
    <MudText Class="my-4" Typo="Typo.h6">No data found.</MudText>

}
else if (_deliveryTickets.Count > 0)
{
    <DeliveryTicketsList DeliveryTickets="_deliveryTickets" />
}
else
{
    <MudProgressLinear Color="Color.Info" Indeterminate="true" Class="my-7"/>
}

@code {

}
