@page "/driver-workorders"

@using WiiTrakClient.Features.Drivers.Components

<UserAuthentication/>
<MudGrid class="my-4">
    <MudItem xs="12" sm="6" md="4">
        <MudSelect T="DriverDto" Label="Select Driver" ValueChanged="(value) => HandleDriverSelected(value)"
            AnchorOrigin="Origin.BottomCenter">
            @foreach (var driver in _drivers)
            {
                <MudSelectItem T="DriverDto" Value="@driver">@driver.FirstName @driver.LastName</MudSelectItem>
            }
        </MudSelect>
    </MudItem>
</MudGrid>

<h3 class="mb-4">Work Orders</h3>

@* <div class="d-flex justify-end my-8 mr-8">
   <MudIconButton Icon="@Icons.Material.Filled.Add" 
                  Variant="Variant.Filled" 
                  Color="Color.Primary" 
                  Size="Size.Large"
                  OnClick="OpenDialog" />  
</div> *@

<WorkOrderList WorkOrders="_workOrders" />

@code {

}

