@page "/carts"

<UserAuthentication/>
<h1>Store Carts*</h1>

<br>
Newly added page
<br>
<br>
//ToDo : Display list of corparates in the Grid
<br>
<br>
//ToDo : Option to add corparates

@code {
    
}