@page "/index"
@using WiiTrakClient.Services
@using WiiTrakClient.Cores
@using WiiTrakClient.Shared.Components
@inject INotificationHttpRepository NotifyHttpRepository

<UserAuthentication />
<PageTitle>WiiTrak</PageTitle>
<h2>Welcome to WiiTrak</h2>

@code {
    protected override async Task OnInitializedAsync()
    {
        Core.NotificationsList = await NotifyHttpRepository.GetNotificationIdAsync(CurrentUser.UserId);
        Core.NotificationCount = Core.NotificationsList.Where(x => x.IsNotified == false).Count();
        StateHasChanged();
    }
}
@if (Core.NotificationsList.Count > 0 && CurrentUser.UserRoleId == 5)
{
    <NotificationPanel />
}

