@page "/signaturepad"
<h3>signaturePad</h3>
<div id="divResize" class="col-lg-6 col-sm-12">
                    <SSignature SignObject="ctlSignature"
                        RefreshImage="/images/clear.png"
                        PenCursor="/images/pen.cur"
                        SignWidth="450"
                        SignHeight="300"
                        PenColor="blue"
                        RequiredPoints="50">
                    </SSignature>
                </div>
@code {

}
